<h1 class="mt-5">New Creature</h1>


<div class="form-group">
  <p>
    
    
  </p>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <button id="fill_with_api" class="btn btn-primary">Fill with API</button>
  </div>
  
  <input type="text" id="api_link" class="form-control w-75" value=<%= @default_base_url %> >
</div>


<%= render 'new_form' %>

<%= link_to 'Back', creatures_path %>

<%= javascript_pack_tag 'new_creature', 'data-turbolinks-track': 'reload' %>
