<div class="modal fade" id="loading_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="loading_model_header" class="modal-title text-center" style="text-align: center;">Loading</h5>
      </div>
      <div class="modal-body">
        
        <div class="loader" style="margin-left: calc(50% - 60px);"></div>
        
      </div>
    </div>
  </div>
</div>
