<%# 
<h3>More documentation comming soon...</h3>

<h1 class="cover-heading">Welcome to the campaign manager!</h1>
<p class="lead">Your one-stop-shop for API driven dnd components</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
</p> %>

<div class="container">
  <div class="row">
  <h1 class="mt-5"></h1>
  </div>
  <div class="row">
  <small></small>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Campaign Manager</h1>
    <p class="lead">Your one-stop-shop for API driven dnd components.</p>
    <p class="lead">
      <button type="button" class="btn btn-dark">
        <i class="fa fa-github" ></i> View source on github
      </button>
    </p>
  </div>
</div>
