<h1>New Campaign</h1>

<% if @campaign.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@campaign.errors.count, "error") %> prohibited
    this campaign from being saved:
  </h2>
  <ul>
    <% @campaign.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= render 'new_form' %>

<%= link_to 'Back', campaigns_path %>