// Place all the styles related to the creature controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=number].speed-pick {
  width: 80px;
}

input[type=number].ability-score-pick {
  width: 40px;
}

input[type=number].sense-pick {
  width: 80px;
}
